$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'Albert Sans', sans-serif;
$theme-default: (
    'color-01': #1f002b,
    'color-02': #e4229c,
    'color-03': #fff,
    'color-04': #c4c8cc,
    'color-06': #e4229b,
    'color-07': #36173d,
    'color-08': #6d4376,
    'color-09': #ececfb,
    'color-10': #d0006e,
    'color-11': #492752,
    'color-12': #470741,
);
$font-sizes: (
    1: 1.8rem,
    2: 2.8rem,
    3: 1.7rem,
    4: 1.5rem,
    5: 3rem,
    6: 1.3rem,
    7: 1.2rem,
);
$font-weight: (
    '100': 100,
    '200': 200,
    '300': 300,
    '400': 400,
    '500': 500,
    '600': 600,
    '700': 700,
    '800': 800,
    '900': 900,
);
