:root {
    @each $name, $value in $font-family {
        --font-#{$name}: #{$value}, sans-serif;
    }
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: var(--font-secondary), serif;
    font-size: 1.6rem;
    margin: 0;
}

#root {
    height: 100%;
}
