.h1 {
    font-family: var(--font-primary), serif;
    text-align: center;
    color: var(--color-03);
    margin: 0;
}

.subtitle1 {
    font-family: var(--font-primary), serif;
    color: var(--color-04);
    margin: 0;
    text-align: center;
}

.body1 {
    display: inline-block;
}

.font_primary {
    font-family: var(--font-primary), serif;
}

.font_secondary {
    font-family: var(--font-secondary), serif;
}

.font_tertiary {
    font-family: var(--font-tertiary), serif;
}
