.root {
    position: relative;
    background-color: #1f002b;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 5.2rem;
    color: var(--color-03);
}
