.reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.base {
    border-radius: 50px;
    text-align: center;
    padding: 1.6rem 0;
    font-size: 1.7rem;
}

.primary {
    color: var(--color-03);
    background-color: var(--color-02);
    font-weight: 800;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--color-12);
    }
}

.disabled {
    opacity: 40%;
    pointer-events: none;
}
