.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 2rem;
    min-height: 100%;
    background-color: var(--color-01);
    color: var(--color-03);
}
